.car-card {
  border: 2px solid #efefef;
  margin-bottom: .3rem
}
.car-card .btn {
  width:3.4rem;margin: .64rem auto
}


#layer {
  position: absolute;
  right: .5rem;
  top: 1rem;
  z-index: 9;
  width: 70%;
}
